<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/createPoll.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <nav class="header">
      <h1 href="/">iWant</h1>
      <form method="GET" action="/createPoll">
        <div class="button_cont" align="center">
          <input class="headerNewPoll" type="submit" target="_blank" rel="nofollow noopener" value="Create New Poll">
        </div>
      </form>
    </nav>

    <main>
      <section>
        <form id="makePollButton" name="poll" method="POST" action="/createPoll">
          <%# <div><input class="makePollButton" type="submit" value="Submit Poll"></div> %>
          <h1 class="font1">Create a Question!</h1>
          <textarea class="questionBox" name="title" placeholder="What should we do this Friday?"></textarea>
          <h1 class="font1">Options</h1>
          <div class="optionBox">
          </div>
        </form>

        <%# <a class="addOption" type="submit" target="_blank" rel="nofollow noopener">Add Option</a> %>

        <%# <input id="addOption" type="submit" target="_blank" rel="nofollow noopener" value="Add Option"> %>
        

        <form class="addOption">
          <div class="button_cont" align="center">
            <input id="addOption" type="submit" target="_blank" rel="nofollow noopener" value="Add Option">
          </div>
        </form>
        
        <div class="button_cont" align="center">
          <input form="makePollButton" class="makePollButton" type="submit" value="Submit Poll">
        </div>
        
        <script>    
        window.onscroll = function() {scrollFunction()};
        function scrollFunction() {
        if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 500) {
          document.getElementById("myBtn").style.display = "block";
        } else {
          document.getElementById("myBtn").style.display = "none";
        }}
        function topFunction() {
          document.documentElement.scrollTop = 0;
        }

        </script>
        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
      </section>
    </main>
  </body>

</html>
