<!DOCTYPE html>
<head>
  <html lang="en">
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/userPoll.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  <script>
    $( function() {
      $( ".sortable" ).sortable();
      $( ".sortable" ).disableSelection();
      
    } );
    // when the form submits
    // $.(ajax)
  </script>
  <script>

    $(document).ready(() => {
      const ranks = {}
      const options = $(".ui-state-default").length
      // console.log($(".ui-state-default")[0].childNodes[0].data)
      $("#form").submit(function(event) {
        for (i = 0; i < options; i++ ) {
          ranks[$(".ui-state-default")[i].childNodes[0].data] = i
        }
        $.post("/userPoll", ranks)
      })
    })
    
      //   console.log(event);
        // $.post("/userPoll/:id", event)
        // :id here won't mean anything because the server is expecing a variable where ':id' should be
      // })
      window.onscroll = function() {scrollFunction()};
      function scrollFunction() {
        if (document.body.scrollTop > 700 || document.documentElement.scrollTop > 700) {
          document.getElementById("myBtn").style.display = "block";
        } else {
          document.getElementById("myBtn").style.display = "none";
        }
      }


function topFunction() {
  document.documentElement.scrollTop = 0;
}
  </script>
</head>
  <body>
    <nav class="header">
      <h1>iWant</h1>
      <div>
        <input type="submit" value="Create New Poll">
      </div>
    </nav>

    <main>
      <section>
        <h1 id = "title"><%= title %></h1>
        <h3>Drag and drop your Options to Rank from Best to Worst
        <br></br>
          <form id = "form">
            <ul class="sortable">
              <%  for (i=0; i < numOptions; i++) { %>
                  <li class="ui-state-default"><%= opt[i] %><p class = "descript"><%= desc[i] %></p></li>
              <% } %>
            </ul>
            <button id="but">Submit</button>
            <br></br>
          </form>
        </h3>
      </section>
    </main>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
  </body>
</html>